{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "8.10"
      }
    }]
  ],
  "plugins": [
    "babel-plugin-source-map-support",
    "@babel/plugin-transform-runtime"
  ]
}
